#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
BUILDDIR=${CURDIR}/debian/build

%:
	dh $@ --builddirectory=${BUILDDIR} --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
    -DFETCHCONTENT_FULLY_DISCONNECTED=OFF \
    -DTIM_VX_INSTALL=/usr \
    -DTFLITE_LIB_LOC=/usr/lib/${DEB_HOST_MULTIARCH}/libtensorflow-lite.so \
    $(NULL)

override_dh_auto_build:
	dh_auto_build -- all label_image

override_dh_install:
	ls -lha
	install -d debian/tmp/usr/lib

	cp --no-preserve=ownership -d ${BUILDDIR}/libvx_delegate.so debian/tmp/usr/lib
	cp --no-preserve=ownership -d ${BUILDDIR}/libvx_custom_op.a debian/tmp/usr/lib

	install -d usr/include/tensorflow-lite-vx-delegate
	find . -name "*.h*" -exec cp --parents {} usr/include/tensorflow-lite-vx-delegate \;

	dh_install
